Django==1.11.1
dj-database-url==0.4.1
psycopg2==2.6.2
gunicorn==19.6.0
whitenoise==3.2
pyyaml==3.12
django-enumfields==0.9
django_extensions==1.9.0
django-storages==1.6.5
django-cleanup==1.0.1
django-livereload-server==0.2.3
# django_tables2==1.10.0
django-grappelli==2.10.1
djangorestframework==3.6.4
# elasticsearch-dsl==5.3
django-haystack==2.6.1
# Elasticsearch 2.x
elasticsearch>=2.0.0,<3.0.0
# Bonsai/Heroku requirement
certifi>=0.0.8
# django-autocomplete-light==3.2.10
# django-nested-admin==3.0.20
-e git+https://github.com/CrossWaterBridge/django-grappelli-autocomplete-fk-edit-link.git@master#egg=django-grappelli-autocomplete-fk-edit-link
# django-debug-toolbar>=1.8
