dj-database-url==0.4.1
Django==1.11.1
psycopg2==2.6.2
gunicorn==19.6.0
whitenoise==3.2
django-enumfields==0.9
django_extensions==1.9.0
django-storages==1.6.5
django-cleanup==1.0.1
django-livereload-server==0.2.3
django_tables2==1.10.0
