.reaction_components_table {
    margin-top: 10px;
    padding-top: 5px;
    /* border-bottom: 3px solid #ccc; */
    margin-bottom: 10px;
    padding-bottom: 5px
}
.reaction {
    border-top: 3px solid #ccc;
    margin-top: 15px;
    padding-top: 5px;
    margin-bottom: 0
}

.reaction .name {
    font-size: 30px;
}
.reaction .notes {
}
.field_sep {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 0
}

td.details-control::before {
    top: 9px;
    left: 4px;
    height: 14px;
    width: 14px;
    display: inline-block;
    /* position: absolute; */
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: 14px;
    content: '+';
    background-color: #337ab7;
    cursor: pointer;
}
tr.shown td.details-control::before {
    top: 9px;
    left: 4px;
    height: 14px;
    width: 14px;
    display: inline-block;
    /* position: absolute; */
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: 14px;
    content: '-';
    background-color: #a94442;
    cursor: pointer;
}

/* .category h2 { */
/*     display: inline */
/* } */
