.reaction {
    border-top: 3px solid #ccc;
    margin-top: 15px;
    padding-top: 5px;
    margin-bottom: 0
}

.reaction .name {
    font-size: 30px;
}
.reaction .notes {
}
.field_sep {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 0
}
