{% extends "db/base_table_site.html" %}

{% block content %}
  <div class="right_col" role="main">

    <div class="name ">
      <p><h2>Name: {{ object.name }}</h2></p>
    </div>
    <div class="field_sep"></div>
    <div class="category">
      <p><h2>Category: {{ object.category }}</h2> </p>
    </div>
    <div class="field_sep"></div>
    <div class="structure">
      <p><h2>Structure:</h2></p>
      {% for s in object.structure.all %}
        {{s.image_tag}}
      {% endfor %}
    </div>
    <div class="field_sep"></div>
    <div class="attachments">
      <p><h2>Attachments:</h2></p>
      {% for a in object.attachments.all %}
      <p> - <a href="{{a.file.url}}" target="_blank">{{a.basename}}</a> | {{a.description_short|safe}}<p>
      {% endfor %}
    </div>
    <div class="field_sep"></div>
    <div class="container catalysts">
      <h2>Catalysts:</h2>
      <table id="{{ object.id }}" class="table-catalysts table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
          <tr>
            {# <th>id</th> #}
            <th>Type</th>
            <th>Name</th>
            <th>Nick</th>
            <th>Rate Constant</th>
            <th>Conversion Rate</th>
            <th>Ee</th>
            <th>De</th>
            <th>Yield</th>
            <th>Amount</th>
            <th>url</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="container reactants">
      <h2>Reactants:</h2>
      <table id="{{ object.id }}" class="table-reactants table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
          <tr>
            {# <th>id</th> #}
            <th>Name</th>
            <th>Nick</th>
            <th>url</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="container products">
      <h2>Products:</h2>
      <table id="{{ object.id }}" class="table-products table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
          <tr>
            {# <th>id</th> #}
            <th>Name</th>
            <th>Nick</th>
            <th>url</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="field_sep"></div>
    <div class="notes">
      <p>
      <span class="title"><h2>Notes:</h2></span>
      <span> {{ object.notes|linebreaks|escape }}</span>
      </p>
    </div>
{# <script charset="utf-8"> #}
{# var data_catalysts= {{ data_catalysts|escapejs }} #}
{# </script> #}
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Custom -->
  <script src="{% static 'build/js/reaction_mofdb.js' %}"></script>
  <script charset="utf-8" type="text/javascript">
display_datatable_reaction_catalysts({{ object.id }}, "{% url 'reaction.views.catalyststable' object.id %}")
display_datatable_reaction_reactants({{ object.id }}, "{% url 'reaction.views.reactantstable' object.id %}")
display_datatable_reaction_products({{ object.id }}, "{% url 'reaction.views.productstable' object.id %}")
populate_admin_link("{% url 'admin:db_reaction_change' object.id %}")
  </script>
{% endblock javascripts %}
<!-- vim: set ft=htmldjango: -->
