<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title"><i class="fa fa-spinner"></i> <span>MOFdb</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- <!&#45;&#45; menu profile quick info &#45;&#45;> -->
  <!-- <div class="profile clearfix"> -->
  <!--   <div class="profile_pic"> -->
  <!--     <img src="/static/images/img.jpg" alt="..." class="img&#45;circle profile_img"> -->
  <!--   </div> -->
  <!--   <div class="profile_info"> -->
  <!--     <span>Welcome,</span> -->
  <!--     <h2>John Doe</h2> -->
  <!--   </div> -->
  <!-- </div> -->
  <!-- <!&#45;&#45; /menu profile quick info &#45;&#45;> -->
  <!--  -->
  <!-- <br /> -->
  <!--  -->
  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
        <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Home </a></li>
      </ul>
    </div>
    <div class="menu_section">
      <h3>DB Components</h3>
      <ul class="nav side-menu">
        <li><a href="{% url 'reaction.views.list' 1 %}"><i class="fa fa-flask"></i> Reactions</a></li>
        <li><a href="{% url 'index' %}"><i class="fa fa-group"></i> Chemical Compounds</a></li>
        <li><a href="{% url 'index' %}"><i class="fa fa-share-alt"></i> Ligands</a></li>
        <li><a href="{% url 'index' %}"><i class="fa fa-cubes"></i> Mofs</a></li>
        <li><a><i class="fa fa-sitemap"></i> Extra Components<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
              <li><a href="{% url 'index' %}">Mof Categories</a>
              <li><a href="{% url 'index' %}">Ligand Categories</a>
              <li><a href="{% url 'index' %}">Data Categories</a>
              <li><a href="{% url 'index' %}">Functional Groups</a>
              <li><a href="{% url 'index' %}">Base Ligands</a>
              <!-- <li><a>Level One<span class="fa fa&#45;chevron&#45;down"></span></a> -->
              <!--   <ul class="nav child_menu"> -->
              <!--     <li class="sub_menu"><a href="level2.html">Level Two</a> -->
              <!--     </li> -->
              <!--     <li><a href="#level2_1">Level Two</a> -->
              <!--   </ul> -->
              <!-- </li> -->
              </li>
          </ul>
        </li>
        <li><a><i class="fa fa-sitemap"></i> Reaction Components<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
              <li><a href="{% url 'index' %}">Catalysts</a>
              <li><a href="{% url 'index' %}">Reactants</a>
              <li><a href="{% url 'index' %}">Products</a>
          </ul>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <!-- <div class="sidebar&#45;footer hidden&#45;small"> -->
    <!-- <a data&#45;toggle="tooltip" data&#45;placement="top" title="Settings"> -->
    <!--   <span class="glyphicon glyphicon&#45;cog" aria&#45;hidden="true"></span> -->
    <!-- </a> -->
    <!-- <a data&#45;toggle="tooltip" data&#45;placement="top" title="FullScreen"> -->
    <!--   <span class="glyphicon glyphicon&#45;fullscreen" aria&#45;hidden="true"></span> -->
    <!-- </a> -->
    <!-- <a data&#45;toggle="tooltip" data&#45;placement="top" title="Lock"> -->
    <!--   <span class="glyphicon glyphicon&#45;eye&#45;close" aria&#45;hidden="true"></span> -->
    <!-- </a> -->
    <!-- <a data&#45;toggle="tooltip" data&#45;placement="top" title="Logout" href="login.html"> -->
    <!--   <span class="glyphicon glyphicon&#45;off" aria&#45;hidden="true"></span> -->
    <!-- </a> -->
  <!-- </div> -->
  <!-- /menu footer buttons -->
</div>
